---
import Layout from '../layouts/Layout.astro';
import Topbar from "../components/topbar.astro";
import Banner from "../components/banner.astro";
import CaseIntro from '../components/case_intro.astro';
import CaseContent from "../components/case_content.astro";
import Newsletter from "../components/newsletter.astro";
import Morecases from "../components/morecases.astro";
---

<Layout title="Ask Experts - Case Study Single">
	<Topbar></Topbar>
	<header></header>
	<main>
		<Banner title="Taxes & Efficiency" label="case studies single" img="banner_case.png"></Banner>
		<CaseIntro></CaseIntro>
        <CaseContent></CaseContent>
        <Newsletter></Newsletter>
        <Morecases></Morecases>
	</main>
	<footer></footer>
</Layout>

<style>
	
</style>