---
import Layout from '../layouts/Layout.astro';
import Topbar from "../components/topbar.astro";
import Banner from "../components/banner.astro";
import Projections from '../components/projections.astro';
import Expect from "../components/expect.astro";
import ClientLogos from "../components/client_logos.astro";
import Strategy from "../components/strategy.astro";
import Contactus from "../components/contactus.astro";
import Questions from "../components/questions.astro";
---

<Layout title="Ask Experts - Case Study Single">
	<Topbar></Topbar>
	<header></header>
	<main>
		<Banner title="Services Details" label="service single" img="banner_service.png"></Banner>
        <Projections></Projections>
        <Expect></Expect>
        <ClientLogos></ClientLogos>
        <Strategy></Strategy>
        <Contactus></Contactus>
        <Questions></Questions>
	</main>
	<footer></footer>
</Layout>