---
import Layout from '../layouts/Layout.astro';
import Topbar from "../components/topbar.astro";
import Banner from "../components/banner.astro";
import TeamAll from '../components/teamAll.astro';
import Talk from "../components/talk.astro";
---

<Layout title="Ask Experts - Our Team">
	<Topbar></Topbar>
	<header></header>
	<main>
		<Banner title="The Consultors" label="team" img="banner_team.png"></Banner>
		<TeamAll></TeamAll>
		<Talk></Talk>
	</main>
	<footer></footer>
</Layout>

<style>
	
</style>