---
interface Props {
    title: string;
    label: string;
    img: string;
}

const {title, label, img} = Astro.props;
---

<figure>
    <img src={"../images/" + img} alt="banner">
    <div class="wrapper">
        <figcaption>
            <span class="services">{label}</span>
            <p>{title}</p>
        </figcaption>
    </div>
</figure>

<style>
    figure {
        width: 100vw;
        background-repeat: no-repeat;
        position: relative;
        container-type: inline-size;
    }
    figure > img {
        width: 100%;
        min-height: 300px;
        object-fit: cover;
    }
    figcaption {
        display: inline-flex;
        max-width: 50%;
        padding: 3ch;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 29px;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(5.5px);
    }
    figure > .wrapper {
        container-type: inline-size;
        position: absolute;
        top: 35%;
        left: 17.5vw;
    }
    figcaption > p {
        color: var(--color-primary-03);
        font-family: Cabin;
        font-size: var(--fontsize-l);
        font-weight: 700;
        line-height: 116%;
    }
    .services {
        color: var(--color-primary-03);
        border-radius: 20px;
        background-color: var(--color-primary-01);
        padding: 0rem 0.9375rem;
        text-transform: uppercase;
    }
    @container (max-width:800px) {
        figcaption {
            width: 100%;
        }
        figcaption > p {
            font-size: var(--fontsize-s);
        }
    }
    @container (max-width:600px) {
        figcaption {
            max-width: calc(100% - 6ch);
        }
        figcaption > p {
            font-size: var(--fontsize-xs);
        }
        figure > .wrapper {
            top: 15%;
        }
    }
</style>