<section>
    <div class="full">
        <img src="../images/client-logos.png" alt="client logos">
    </div>
</section>

<style>
    img {
        width: calc(100% - 120px);
        margin: 0px 60px;
    }
</style>