<section>
    <div class="wrapper">
        <h3>More case studies</h3>
        <div class="cases">
            <img src="../images/cases_01.png" alt="case1">
            <img src="../images/cases_02.png" alt="case2">
            <img src="../images/cases_03.png" alt="case3">
        </div>
        <a href="#">Browse all case studies</a>
    </div>
</section>

<style>
    .wrapper {
        text-align: center;
    }
    h3 {
        margin-bottom: 30px;
    }
    .cases {
        background-color: #d9d9d9;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        padding: 25px;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
    a {
        display: inline-block;
        margin-top: 30px;
        background-color: var(--color-primary-03);
        padding: 15px 36px;
        border-radius: 42px;
        color: white;
        text-decoration: none;
    }
</style>